.post-creationForm{
    
    form{
        display:flex;
        flex-direction: column;
        width: 400px;
        *{
            margin-bottom: 4px;
        }
        input{
            background-color: white;
            border: none;
        }
        textarea{
            height: 200px;
            background-color: white;
            border: none;
        }

        button{
            border: none;
            color:white;
            background-color: black;
            margin-right: 6px;
        }
        .submit-box{
            align-items: center;
            display: flex;
        }
    }
    justify-content: center;
    align-items: center;
    display:flex;
    min-height: calc(100vh - 35px);
}